body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../res/lib-bg.jpg');
  background-position: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fff;
  font-size: 6em;
}

span {
  color: #fff;
  font-size: 3em;
}


.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  background: transparent;
  border-color: rgb(129, 129, 129);
}

.drop-container:hover .drop-title {
  color: rgb(240, 240, 240);
}

.drop-title {
  color: rgb(207, 207, 207);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}


input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #636158;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #8b8370;
}


.row {
  display: flex;
  align-items: stretch;
  
  justify-content: space-between;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

.text-contents {
  color: #fff;
}

.button {
  margin:5px;
  padding: 5px;
  max-width: 100px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.8;
  font-weight: bold;
}

.stop{
  background-color: #c47e5e;
}
 .play{
  background-color: #4CAF50; /* Green */
}
.reset{
  background-color: #ffffff50;
}
.stop:hover, .play:hover, .reset:hover{
  opacity:0.9;
}

.hidden {
  display: none;
}